.contacto-form .form {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    padding: 4rem;
}
.contacto-form .form input {
    display: block;
    margin-bottom: 2rem;
    height: 1rem;
}
.contacto-form .form .boton-submit {
    background-color: #008F8C;
    border-radius: 2rem;
    border: none;
    margin-top: 0.5rem;
    width: 10rem;
    height: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
  }